<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ManterAlimentoController</servlet-name>
        <servlet-class>controller.ManterAlimentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterAlimentoController</servlet-name>
        <url-pattern>/ManterAlimentoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterAtletaController</servlet-name>
        <servlet-class>controller.ManterAtletaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterAtletaController</servlet-name>
        <url-pattern>/ManterAtletaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterCargoController</servlet-name>
        <servlet-class>controller.ManterCargoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterCargoController</servlet-name>
        <url-pattern>/ManterCargoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterChipController</servlet-name>
        <servlet-class>controller.ManterChipController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterChipController</servlet-name>
        <url-pattern>/ManterChipController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterCorridaController</servlet-name>
        <servlet-class>controller.ManterCorridaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterCorridaController</servlet-name>
        <url-pattern>/ManterCorridaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterEntregaKitController</servlet-name>
        <servlet-class>controller.ManterEntregaKitController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterEntregaKitController</servlet-name>
        <url-pattern>/ManterEntregaKitController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterFotosController</servlet-name>
        <servlet-class>controller.ManterFotosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterFotosController</servlet-name>
        <url-pattern>/ManterFotosController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterInscricaoController</servlet-name>
        <servlet-class>controller.ManterInscricaoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterInscricaoController</servlet-name>
        <url-pattern>/ManterInscricaoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterKitProvaController</servlet-name>
        <servlet-class>controller.ManterKitProvaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterKitProvaController</servlet-name>
        <url-pattern>/ManterKitProvaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterLoteController</servlet-name>
        <servlet-class>controller.ManterLoteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterLoteController</servlet-name>
        <url-pattern>/ManterLoteController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterModalidadeController</servlet-name>
        <servlet-class>controller.ManterModalidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterModalidadeController</servlet-name>
        <url-pattern>/ManterModalidadeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterObjetoKitController</servlet-name>
        <servlet-class>controller.ManterObjetoKitController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterObjetoKitController</servlet-name>
        <url-pattern>/ManterObjetoKitController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterOrganizadorController</servlet-name>
        <servlet-class>controller.ManterOrganizadorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterOrganizadorController</servlet-name>
        <url-pattern>/ManterOrganizadorController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterSuprimentoController</servlet-name>
        <servlet-class>controller.ManterSuprimentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterSuprimentoController</servlet-name>
        <url-pattern>/ManterSuprimentoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaAlimentoController</servlet-name>
        <servlet-class>controller.PesquisaAlimentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaAlimentoController</servlet-name>
        <url-pattern>/PesquisaAlimentoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaAtletaController</servlet-name>
        <servlet-class>controller.PesquisaAtletaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaAtletaController</servlet-name>
        <url-pattern>/PesquisaAtletaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaCargoController</servlet-name>
        <servlet-class>controller.PesquisaCargoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaCargoController</servlet-name>
        <url-pattern>/PesquisaCargoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaChipController</servlet-name>
        <servlet-class>controller.PesquisaChipController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaChipController</servlet-name>
        <url-pattern>/PesquisaChipController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaCorridaController</servlet-name>
        <servlet-class>controller.PesquisaCorridaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaCorridaController</servlet-name>
        <url-pattern>/PesquisaCorridaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaEntregaKitController</servlet-name>
        <servlet-class>controller.PesquisaEntregaKitController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaEntregaKitController</servlet-name>
        <url-pattern>/PesquisaEntregaKitController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaFotosController</servlet-name>
        <servlet-class>controller.PesquisaFotosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaFotosController</servlet-name>
        <url-pattern>/PesquisaFotosController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <servlet-class>controller.PesquisaFuncionarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <url-pattern>/PesquisaFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaInscricaoController</servlet-name>
        <servlet-class>controller.PesquisaInscricaoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaInscricaoController</servlet-name>
        <url-pattern>/PesquisaInscricaoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaKitProvaController</servlet-name>
        <servlet-class>controller.PesquisaKitProvaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaKitProvaController</servlet-name>
        <url-pattern>/PesquisaKitProvaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaLoteController</servlet-name>
        <servlet-class>controller.PesquisaLoteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaLoteController</servlet-name>
        <url-pattern>/PesquisaLoteController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaModalidadeController</servlet-name>
        <servlet-class>controller.PesquisaModalidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaModalidadeController</servlet-name>
        <url-pattern>/PesquisaModalidadeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaObjetoKitController</servlet-name>
        <servlet-class>controller.PesquisaObjetoKitController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaObjetoKitController</servlet-name>
        <url-pattern>/PesquisaObjetoKitController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaOrganizadorController</servlet-name>
        <servlet-class>controller.PesquisaOrganizadorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaOrganizadorController</servlet-name>
        <url-pattern>/PesquisaOrganizadorController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaSuprimentoController</servlet-name>
        <servlet-class>controller.PesquisaSuprimentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaSuprimentoController</servlet-name>
        <url-pattern>/PesquisaSuprimentoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaRelatorioController</servlet-name>
        <servlet-class>controller.PesquisaRelatorioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaRelatorioController</servlet-name>
        <url-pattern>/PesquisaRelatorioController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30            
        </session-timeout>
    </session-config>
</web-app>
